:root {
    --link-color: #07c;
}

a {
    color: var(--link-color);
}

.table {
    color: var(--bs-table-striped-color);
    --bs-table-striped-bg: #ecedee;
}

:root.dark-mode {
    --bs-body-color: #ddd;
    --bs-body-bg: #111;
    --link-color: #39f;
}
    
:root.dark-mode .table {
    --bs-table-striped-bg: #222;
    --bs-table-striped-color: #ddd;
}

:root.dark-mode .weapon {
    filter: invert(1);
}

:root.dark-mode .card {
    background-color: #222;
    border-color: #ced4da;
}

:root.dark-mode .card-header {
    background-color: #181818;
}

:root.dark-mode .form-control {
    color: #fff;
    background-color: #212529;
}

:root.dark-mode .backdrop {
    border-radius: 6px;
    background-color: rgba(220,220,220,0.5);
}

:root.dark-mode .swatch {
    border-color: #fff;
}


@media (prefers-color-scheme: dark) {
    :root {
        --bs-body-color: #ddd;
        --bs-body-bg: #111;
        --link-color: #39f;
    }

    .table {
        --bs-table-striped-bg: #222;
        --bs-table-striped-color: #ddd;
    }

    .weapon {
        filter: invert(1);
    }

    .card {
        background-color: #222;
        border-color: #ced4da;
    }

    .card-header {
        background-color: #181818;
    }

    .form-control {
        color: #fff;
        background-color: #212529;
    }

    .backdrop {
        border-radius: 6px;
        background-color: rgba(220,220,220,0.5);
    }

    .swatch {
        border-color: #fff;
    }

    :root.light-mode {
        --bs-body-color: #212529;
        --bs-body-bg: #fff;
        --link-color: #07c;
    }

        :root.light-mode .table {
            --bs-table-striped-bg: #ecedee;
            --bs-table-striped-color: revert;
        }

        :root.light-mode .weapon {
            filter: revert;
        }

        :root.light-mode .card {
            background-color: revert;
            border-color: revert;
        }

        :root.light-mode .card-header {
            background-color: revert;
        }

        :root.light-mode .form-control {
            color: revert;
            background-color: revert;
        }

        :root.light-mode .backdrop {
            border-radius: revert;
            background-color: revert;
        }

        :root.light-mode .swatch {
            border-color: revert;
        }
}
